
@media (max-width: 767px) {
    .top-nav {
        margin-top: 22px;
        width: 38%;
        padding: 0;
       
    }

    .slider-info {
        display:none;
    }

    .product_item-food-btn{
        justify-content:center;
    }
}
.header__right .search, .header__right .auth__user, .header__right .header__cart {
    margin: 0 11px;
    display: inline-block;
    vertical-align: middle;
}
