
@{
    ViewBag.Title = "xacnhandonhang";
    Layout = "~/Views/Layout/DetailLayout.cshtml";
}


<div class="container" style="margin:130px 500px 300px" >

    <h2>Đơn hàng đã được xác nhận</h2>
    <h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
    <p>
        @Html.ActionLink("Về trang chủ", "Index", "Home")
    </p>
    </div>
